
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

$red: rgb(255, 67, 67);
$white: rgb(230, 230, 230);
$link-col: rgb(255, 255, 255);
$bg-col: #ffffff;

$nav-col: #212429;
$foot-col: $nav-col;

html, body {
    background-color: $bg-col;
    margin: 0px;
}

main {
    margin: 5% 10%;
    font-family: 'Rubik', sans-serif;
}

nav {
    font-family: 'Roboto Mono', monospace;
    padding: 0px 5%;
    background-color: $nav-col;
    box-shadow: 0px 0px 25px black;
}

nav, #nav-link-wrap {
    display: flex;
    flex-direction: row;
}

#nav-link-wrap {
    position: absolute;
    right: 5%;
}

#nav-title, .nav-item {
    padding: 1.25em 2.5em;
}

.nav-link {
    text-decoration: none;
    color: $link-col;
}

.nav-link:hover {
    color: darken($link-col, 10%);
}

.indent {
    text-indent: 4em;
    line-height: 2em;
}

.note {
    border-left: 3px solid $red;
    border-radius: 5px;
    background-color: $white;
    padding: 0.5em 1em;
    width: fit-content;
}

.main-link {
    text-decoration: none;
    color: rgb(0, 79, 224);
}

.main-wrap {
    display: flex;
    flex-direction: row;
}

.main-link:hover {
    color: rgb(0, 62, 179);
}

#integration-img {
    width: 25%;
    object-fit: contain;
}

form {
    display: block;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    padding: 2em 4em;
    border-radius: 10px;
    width: 50%;
    line-height: 2em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 2em;
}

form > div {
    margin-left: 2em;
}

input {
    width: 50%;
    border: 0px;
    height: auto;
    padding: 2px 4px;
    display: block;
    margin: 0 auto;
}

#calc {
    grid-column: 1 / 3;
    width: fit-content;
    padding: 0.5em 2em;
    font-size: 100%;
    display: block;
    margin: 0 auto;

    background-color: rgb(0, 120, 255);
    color: white;
    border: 0px;
    border-radius: 5px;
    letter-spacing: 1px;
}

#calc:hover {
    animation: calc-hover 0.2s forwards;
}

@keyframes calc-hover {
    to {
        background-color: rgb(0, 135, 255);
        box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }
}

#calc:active {
    color: rgb(225, 225, 225);
}

@media screen and (max-width: 900px) {

    .main-wrap {
        flex-direction: column;
    }

    #integration-img {
        width: 75%;
        display: block;
        margin: 0 auto;
    }

    nav, #nav-link-wrap {
        flex-direction: column; 
    }
    
    #nav-title {
        display: block;
        margin: 0 auto;
    }

    #nav-link-wrap {
        position: relative !important;
        width: 100%;
        right: 0px;
    }

    .nav-item {
        display: block;
        margin: 0 auto;
    }

    input {
        width: 100%;
    }

    form > div {
        margin: 0;
    }

}

footer {
    font-family: 'Roboto Mono', monospace;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: $foot-col;
}

.foot-link {
    text-decoration: none;
    color: $link-col;
    padding: 1.25em 2.5em;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.foot-link:hover {
    color: darken($link-col, 10%);
}