
$red: rgb(255, 67, 67);
$white: rgb(230, 230, 230);
$link-col: rgb(255, 255, 255);
$bg-col: #ffffff;

$nav-col: #212429;
$foot-col: $nav-col;

html, body {
    background-color: $bg-col;
    margin: 0px;
}

main {
    margin: 5%;
}

nav {
    padding: 0px 5%;
    background-color: $nav-col;
    box-shadow: 0px 0px 25px black;
}

nav, #nav-link-wrap {
    display: flex;
    flex-direction: row;
}

#nav-link-wrap {
    position: absolute;
    right: 5%;
}

#nav-title, .nav-item {
    padding: 1em 2em;
}

.nav-link {
    text-decoration: none;
    color: $link-col;
}

.note {
    border-left: 3px solid $red;
    border-radius: 5px;
    background-color: $white;
    padding: 0.5em 1em;
    width: fit-content;
}

@media screen and (max-width: 800px) {

    nav, #nav-link-wrap {
        flex-direction: column; 
    }
    
    #nav-title {
        display: block;
        margin: 0 auto;
    }

    #nav-link-wrap {
        position: relative !important;
        width: 100%;
        right: 0px;
    }

    .nav-item {
        display: block;
        margin: 0 auto;
    }

}

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: $foot-col;
}

.foot-link {
    text-decoration: none;
    color: $link-col;
    padding: 1em 2em;
    display: block;
    margin: 0 auto;
    text-align: center;
}

