@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
html, body {
  background-color: #ffffff;
  margin: 0px; }

main {
  margin: 5% 10%;
  font-family: 'Rubik', sans-serif; }

nav {
  font-family: 'Roboto Mono', monospace;
  padding: 0px 5%;
  background-color: #212429;
  box-shadow: 0px 0px 25px black; }

nav, #nav-link-wrap {
  display: flex;
  flex-direction: row; }

#nav-link-wrap {
  position: absolute;
  right: 5%; }

#nav-title, .nav-item {
  padding: 1.25em 2.5em; }

.nav-link {
  text-decoration: none;
  color: white; }

.nav-link:hover {
  color: #e6e6e6; }

.indent {
  text-indent: 4em;
  line-height: 2em; }

.note {
  border-left: 3px solid #ff4343;
  border-radius: 5px;
  background-color: #e6e6e6;
  padding: 0.5em 1em;
  width: fit-content; }

.main-link {
  text-decoration: none;
  color: #004fe0; }

.main-wrap {
  display: flex;
  flex-direction: row; }

.main-link:hover {
  color: #003eb3; }

#integration-img {
  width: 25%;
  object-fit: contain; }

form {
  display: block;
  margin: 0 auto;
  background-color: #f0f0f0;
  padding: 2em 4em;
  border-radius: 10px;
  width: 50%;
  line-height: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 2em; }

form > div {
  margin-left: 2em; }

input {
  width: 50%;
  border: 0px;
  height: auto;
  padding: 2px 4px;
  display: block;
  margin: 0 auto; }

#calc {
  grid-column: 1 / 3;
  width: fit-content;
  padding: 0.5em 2em;
  font-size: 100%;
  display: block;
  margin: 0 auto;
  background-color: #0078ff;
  color: white;
  border: 0px;
  border-radius: 5px;
  letter-spacing: 1px; }

#calc:hover {
  animation: calc-hover 0.2s forwards; }

@keyframes calc-hover {
  to {
    background-color: #0087ff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05); } }

#calc:active {
  color: #e1e1e1; }

@media screen and (max-width: 900px) {
  .main-wrap {
    flex-direction: column; }
  #integration-img {
    width: 75%;
    display: block;
    margin: 0 auto; }
  nav, #nav-link-wrap {
    flex-direction: column; }
  #nav-title {
    display: block;
    margin: 0 auto; }
  #nav-link-wrap {
    position: relative !important;
    width: 100%;
    right: 0px; }
  .nav-item {
    display: block;
    margin: 0 auto; }
  input {
    width: 100%; }
  form > div {
    margin: 0; } }

footer {
  font-family: 'Roboto Mono', monospace;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  background-color: #212429; }

.foot-link {
  text-decoration: none;
  color: white;
  padding: 1.25em 2.5em;
  display: block;
  margin: 0 auto;
  text-align: center; }

.foot-link:hover {
  color: #e6e6e6; }
